
#board {
    width: 512px;
}

#fen {
    font-size: 12px;
}

#pgn {
    max-width: 512px;
    text-align: justify;
    text-justify: inter-word;
}

.highlight-white {
    background: #E8C168;
}
.highlight-black {
    background: #98BEB9;
}

.highlight-hint {
    background: #FF7F7F;
}


* {
    padding: 0;
    margin: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}

#container {
    width: 1500px;
    display: flex;
}

.flex-div.board {
    padding-left: 50px;
    padding-top: 50px;
}

/*
#results-box {
    width: 400px;
    height: 509px;
    float: left;
    border: 2px solid black; 
    margin-top: 50px;
    margin-left: 20px;
} 
*/

.openings-menu {
    float: left;
    width: 350px;
    height: 100vh;
    left: 0;
    background: #1e1e1e;
    overflow: auto;
}

.openings-menu .text {
    border-bottom: 1px solid grey;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    user-select: none;
}

.parent {
    background: #1b1b1b;
    height: 100%;
    width: 100%;
    list-style: none;
}

.parent li {
    line-height: 30px;
    border-bottom: 1px solid grey;
}

.parent li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 350;
    padding-left: 10px;
    width: 100%;
    border-left: 3px solid transparent;
    display: block;
}

.parent li a:hover {
    color: cyan;
    background: black;
    border-left-color: cyan;
}

.parent a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 15px;
    transition: transform 0.4s;
}

/*
.parent li a span.rotate {
    transform: translateY(-50%) rotate(-180deg);
}
*/

/* level 2 */

.level-2-class {
    position: static;
    display: none;
}
.level-2-class li {
    list-style: none;
    line-height: 30px;
    border-bottom: none;
}

.level-2-class li a {
    font-size: 15px;
    color: #e6e6e6;
    padding-left: 30px;
}

/* level 3 */
.level-3-class {
    position: static;
    display: none;
}
.level-3-class li {
    line-height: 30px;
    border-bottom: none;
}
.level-3-class li a {
    font-size: 15px;
    color: #e6e6e6;
    padding-left: 50px;
}

/* level 4 */
.level-4-class {
    position: static;
    display: none;
}
.level-4-class li {
    line-height: 30px;
    border-bottom: none;
}
.level-4-class li a {
    font-size: 15px;
    color: #e6e6e6;
    padding-left: 70px;
}

/* level 5 */
.level-5-class {
    position: static;
    display: none;
}
.level-5-class li {
    line-height: 30px;
    border-bottom: none;
}
.level-5-class li a {
    font-size: 15px;
    color: #e6e6e6;
    padding-left: 90px;
}

/* level 6 */
.level-6-class {
    position: static;
    display: none;
}
.level-6-class li {
    line-height: 30px;
    border-bottom: none;
}
.level-6-class li a {
    font-size: 15px;
    color: #e6e6e6;
    padding-left: 110px;
}

/* level 7 */
.level-7-class {
    position: static;
    display: none;
}
.level-7-class li {
    line-height: 30px;
    border-bottom: none;
}
.level-7-class li a {
    font-size: 15px;
    color: #e6e6e6;
    padding-left: 130px;
}

/* level 8 */
.level-8-class {
    position: static;
    display: none;
}
.level-8-class li {
    line-height: 30px;
    border-bottom: none;
}
.level-8-class li a {
    font-size: 15px;
    color: #e6e6e6;
    padding-left: 150px;
}