#board {
    width: 512px;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}

.board-container {
    margin: auto;
    width: 100%;
    padding-top: 50px;
    padding-left: 500px;
}

.openings-menu {
    position: fixed;
    width: 400px;
    height: 100%;
    left: 0;
    background: #1e1e1e;
}

.openings-menu .text {
    border-bottom: 1px solid grey;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 1px;
}

.parent {
    background: #1b1b1b;
    height: 100%;
    width: 100%;
    list-style: none;
}

.parent li {
    line-height: 30px;
    border-bottom: 1px solid grey;
}

.parent li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 350;
    padding-left: 10px;
    width: 100%;
    border-left: 3px solid transparent;
    display: block;
}

.parent li a:hover {
    color: cyan;
    background: #1e1e1e;
    border-left-color: cyan;
}

.level-2-class {
    position: static;
    display: none;
}

.level-2-class li {
    line-height: 30px;
    border-bottom: none;
}

.level-2-class li a {
    font-size: 15px;
    color: #e6e6e6;
    padding-left: 30px;
}

.level-3-class {
    display: none;
}

.level-4-class {
    display: none;
}

.level-5-class {
    display: none;
}

.level-3-class li {
    line-height: 30px;
    border-bottom: none;
}

.level-3-class li a {
    font-size: 15px;
    color: #e6e6e6;
    padding-left: 50px;
}

.level-4-class li {
    line-height: 30px;
    border-bottom: none;
}

.level-4-class li a {
    font-size: 15px;
    color: #e6e6e6;
    padding-left: 70px;
}

.level-5-class li a {
    font-size: 15px;
    color: #e6e6e6;
    padding-left: 90px;
}

.parent a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 15px;
    transition: transform 0.4s;
}

.parent li a span.rotate {
    transform: translateY(-50%) rotate(-180deg);
}

#kings-pawn-show.show {
    display: block;
}

#open-game-show.show {
    display: block;
}

#kings-knight-show.show {
    display: block;
}

#scotch-show.show {
    display: block;
}

