#board {
    width: 512px;
}

#fen {
    font-size: 12px;
}

#pgn {
    max-width: 512px;
    text-align: justify;
    text-justify: inter-word;
}

.highlight-white {
    background: #E8C168;
}
.highlight-black {
    background: #98BEB9;
}

.highlight-hint {
    background: #FF7F7F;
}


* {
    padding: 0;
    margin: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}

#container {
    width: 1500px;
    display: flex;
}

.flex-div.board {
    padding-left: 50px;
    padding-top: 50px;
}

#results-box { /* why won't this work when i use the div class? */
    width: 400px;
    height: 509px;
    float: left;
    border: 2px solid black;
    margin-top: 50px;
    margin-left: 20px;
}

.openings-menu {
    float: left;
    width: 350px;
    height: 100vh;
    left: 0;
    background: #1e1e1e;
    overflow: auto;
}

.openings-menu .text {
    border-bottom: 1px solid grey;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    user-select: none;
}

.parent {
    background: #1b1b1b;
    height: 100%;
    width: 100%;
    list-style: none;
}

.parent li {
    line-height: 30px;
    border-bottom: 1px solid grey;
}

.parent li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 350;
    padding-left: 10px;
    width: 100%;
    border-left: 3px solid transparent;
    display: block;
}

.parent li a:hover {
    color: cyan;
    background: black;
    border-left-color: cyan;
}

.parent a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 15px;
    transition: transform 0.4s;
}

.parent li a span.rotate {
    transform: translateY(-50%) rotate(-180deg);
}

/* level 2 */
.level-2-class {
    position: static;
    display: none;
}
.level-2-class li {
    list-style: none;
    line-height: 30px;
    border-bottom: none;
}

.level-2-class li a {
    font-size: 15px;
    color: #e6e6e6;
    padding-left: 30px;
}

/* level 3 */
.level-3-class {
    position: static;
    display: none;
}
.level-3-class li {
    line-height: 30px;
    border-bottom: none;
}
.level-3-class li a {
    font-size: 15px;
    color: #e6e6e6;
    padding-left: 50px;
}

/* level 4 */
.level-4-class {
    position: static;
    display: none;
}
.level-4-class li {
    line-height: 30px;
    border-bottom: none;
}
.level-4-class li a {
    font-size: 15px;
    color: #e6e6e6;
    padding-left: 70px;
}

/* level 5 */
.level-5-class {
    position: static;
    display: none;
}
.level-5-class li {
    line-height: 30px;
    border-bottom: none;
}
.level-5-class li a {
    font-size: 15px;
    color: #e6e6e6;
    padding-left: 90px;
}

/* level 6 */
.level-6-class {
    position: static;
    display: none;
}
.level-6-class li {
    line-height: 30px;
    border-bottom: none;
}
.level-6-class li a {
    font-size: 15px;
    color: #e6e6e6;
    padding-left: 110px;
}

/* level 7 */
.level-7-class {
    position: static;
    display: none;
}
.level-7-class li {
    line-height: 30px;
    border-bottom: none;
}
.level-7-class li a {
    font-size: 15px;
    color: #e6e6e6;
    padding-left: 130px;
}

/* displays the lists when buttons are clicked */
#kings-pawn-show.show {
    display: block;
}

#open-game-show.show {
    display: block;
}

#kings-knight-show.show {
    display: block;
}
#kings-knight-main-show.show {
    display: block;
}

#scotch-show.show {
    display: block;
}

#scotch-classical-show.show {
    display: block;
}

#sicilian-defence-show.show {
    display: block;
}

#open-sicilian-show.show {
    display: block;
}

#najdorf-variation-show.show {
    display: block;
}

#ruy-lopez-show.show {
    display: block;
}
#morphy-defence-show.show {
    display: block;
}
#morphy-closed-show.show {
    display: block;
}
#morphy-main-line-show.show {
    display: block;
}
#non-morphy-show.show {
    display: block;
}

#italian-game-show.show {
    display: block;
}
#giuoco-show.show {
    display: block;
}

#three-knights-game-show.show {
    display: block;
}

#petrov-defence-show.show {
    display: block;
}

#philidor-defence-show.show {
    display: block;
}
#vienna-game-show.show {
    display: block;
}
#vienna-falkbeer-show.show {
    display: block;
}
#bishops-opening-show.show {
    display: block;
}
#kings-gambit-show.show {
    display: block;
}
#kings-gambit-accepted-show.show {
    display: block;
}
#kings-gambit-declined-show.show {
    display: block;
}
#french-defence-show.show {
    display: block;
}
#french-main-line-show.show {
    display: block;
}
#french-Nc3-show.show {
    display: block;
}
#french-tarrasch-show.show {
    display: block;
}
#french-advance-show.show {
    display: block;
}
#caro-kann-show.show {
    display: block;
}
#caro-main-line-show.show {
    display: block;
}
#pirc-defence-show.show {
    display: block;
}
#alekhine-defence-show.show {
    display: block;
}
#scandinavian-show.show {
    display: block;
}
#nimzowitsch-show.show {
    display: block;
}
#owens-show.show {
    display: block;
}

#queen-pawn-show.show {
    display: block;
}

#closed-game-show.show {
    display: block;
}

#queens-gambit-show.show {
    display: block;
}

#q-gambit-accepted-show.show {
    display: block;
}
#q-gambit-declined-show.show {
    display: block;
}
#slav-defence-show.show {
    display: block;
}
#semi-slav-defence-show.show {
    display: block;
}
#chigorin-show.show {
    display: block;
}
#blackmar-diemer-show.show {
    display: block;
}
#indian-game-show.show {
    display: block;
}
#nimzo-indian-show.show {
    display: block;
}
#nimzo-rubinstein-show.show {
    display: block;
}
#nimzo-classical-show.show {
    display: block;
}
#queens-indian-show.show {
    display: block;
}
#grunfeld-show.show {
    display: block;
}
#kings-indian-show.show {
    display: block;
}
#benoni-show.show {
    display: block;
}
#benko-show.show {
    display: block;
}
#dutch-show.show {
    display: block;
}
#q-pawn-modern-defence-show.show {
    display: block;
}
#englund-show.show {
    display: block;
}
#english-opening-show.show {
    display: block;
}

